<!DOCTYPE html>
<html>
    <head>
    <meta charset='UTF-8'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <p>name: {{data.name}}</p>
            <p>title: </title>{{data.title}}</p>
            <p>Date of Birth: {{data.dateOfBirth}}</p>
            <p>Phonenumber: {{data.phoneNumber}}</p>
            <p>Email: {{data.email}}</p>
            <p>Adress: {{data.adress}}</p>
            <p>Qualifications:{{data.qualifications}}</p>
            <ul>
                {{#each data.workExperience}}
                <li>{{this.companyName}}</li>
                <li>{{this.role}}</li>
                {{/each}}
            </ul>
            <ul class="list">
                {{#each data.links}}
                <li><a href={{this}}>{{this}}</a></li>
                {{/each}}
            </ul>
            
            
        </div>
    </body>
</html>